<section id="signIn">
    <div class="container">
        <form [formGroup]="signIn" (ngSubmit)="signIn.valid&&FormData()">
        <div class="form w-50 m-auto">

            <input [class.is-valid]="signIn.controls['UserName'].status=='VALID'" formControlName="UserName" type="text" placeholder="Enter Your UserName" class="form-control my-3">
            <div *ngIf="signIn.controls['UserName'].errors&&signIn.controls['UserName'].touched" class="alert alert-danger" role="alert">
                UserName Is Required
                <!-- {{}} de asmha data enter priti al -->
            </div>
           
            <input [class.is-valid]="signIn.controls.Password.status=='VALID'" formControlName="Password" type="password" placeholder="Enter Your Password" class="form-control my-3">
            <div *ngIf="signIn.controls.Password.errors&&signIn.controls.Password.touched" class="alert alert-danger" role="alert">
                password Is Required
                <!-- {{}} de asmha data enter pritial -->
            </div>
            <button class="btn btn-info w-100"  [disabled]="signIn.invalid" [ngStyle]="signIn.invalid? {'background-color':'gray','border-color':'gray'}:{'background-color':'#17a2b8','border-color':'#17a2b8'}">sign In</button>
        </div>
    </form>
    </div>
</section>
